* { box-sizing: border-box;}

div {  border: thin solid #dadada; }

header { }

nav { width: 50%; float: left;}
main { width: 50%; float: right;}


#content-wrapper { }
section {  width: 70%; float: left; padding: 5px;}
aside {  width: 30%; float: right; }

#footer { }
.footer-column {  width: 33.3333333%; float: left; }

img { max-width: 100%;}
.img-post { width: 30%; padding: 5px; border: 1px solid #dadada; }
.img-post-right { float: right; }
.img-post-left { float: left; }

/* clearfix class + div, option 1 */
.clearfix { clear: both; }

/* clearfix by css only */
.post:after, #header:after {
    content: "";
    display: table;
    clear: both;
}
